/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #12131f;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow-y: auto; /* Scroll activado */
}

.app-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* ===== CONTENEDOR GENERAL ===== */
.container {
    width: 90%;
    max-width: 900px;
}

/* ===== HEADER ===== */
.header {
    text-align: center;
    margin-bottom: 10px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    color: #bfbfbf;
}

/* ===== GRID DE JUEGOS ===== */
.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 15px;
}

/* ===== CARD ===== */
.game-card {
    background: #1d1f2e;
    padding: 18px;
    border-radius: 12px;
    text-align: center;
    transition: 0.2s ease;
    border: 1px solid #2c2e40;
}

.game-card:hover {
    transform: scale(1.03);
}

.game-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.game-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.game-description {
    font-size: 13px;
    margin-bottom: 10px;
    color: #bfbfbf;
}

/* BOTÓN JUGAR */
.play-button {
    background: #6a5acd;
    padding: 8px 14px;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.play-button:hover {
    background: #7a6df0;
}

/* ===== SECCIÓN YAPE ===== */
.payment-section {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 50px;
}

.qr-placeholder {
    margin-top: 10px;
    display: flex;
    justify-content: center; /* CENTRA LA IMAGEN */
}

.qr-placeholder img {
    width: 190px;
    border-radius: 12px;
}

/* ===== MODAL ===== */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.modal-content {
    background: #1d1f2e;
    width: 90%;
    max-width: 420px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #2d2f43;
}

.close-button {
    font-size: 30px;
    float: right;
    cursor: pointer;
}

.modal-text {
    color: #ccc;
    margin-bottom: 10px;
}

.modal-subtitle {
    margin-top: 10px;
    font-weight: bold;
}

.modal-list {
    text-align: left;
    margin: 10px auto;
    width: fit-content;
}

.modal-qr {
    margin: 15px 0;
    width: 160px;
}

.modal-play-btn {
    background: #6a5acd;
    padding: 10px 16px;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.modal-play-btn:hover {
    background: #7a6df0;
}
